<section class="grid_16 push_2">
	<header>
		<h1>
			Andre' Jones
		</h1>
		
		<h2 class="push_6">Web Developer  |  GIS Tech</h2>
		
	</header>
</section>
</div>	<!-- Closes topPage -->
</div>	<!-- Closes container -->
<div id="map-canvas">
	
</div>
<div class="container_16" id="bottomContain">
	
		<article>
			
		<h1>Skills</h1><hr />
		
			<ul class="double">
				
				<% skills.each do |skill|%>
					
					<li class=""><%= skill %></li>
					
				<% end %>
				
			</ul>
			
		</article>
		<article>
			
		<h1>Works/Online Learning</h1><hr />
		
			<ul class="double">
			<% works.each do |key,value|%>
			
				<li><%= link_to key, value%></li>
				
			<% end %>
			</ul>
			
		</article>
	
	
	
		<article>
			
		<h1>Education</h1><hr />
		
			<h2>University of Arkansas</h2>
			
			<p>Bachelors in Geography</p>
			
		</article>
		
		<article>
			
		<h1>Experience</h1><hr />
			
			<h2>Southwest Arkansas Planning and Development District</h2>
			<h4>July 2012 - Present</h4>
			<p class="grid_8">At SWAPDD I hold the GIS 
				Coordinator position where I am responsible for 
				creating and maintaining GIS related products for 
				our office and clients.</p>
			
		</article>
	

</div>
<footer>
	
	<p class="container_16">Andre' I. Jones  <br>
		Copyright &copy; <%= Time.now.strftime('%Y') %> <br>
		Email:<span class="push_1">andreij6@gmail.com</span></p>
</footer>

<script type="text/javascript"> //Map

      function initialize() {
        var myLatlng = new google.maps.LatLng(33.2742, -93.2336);
       
        var mapOptions = {
          center: myLatlng,
          zoom: 11,
          zoomControl:false,
          mapTypeControl:false,
          streetViewControl:false,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
            
        var marker = new google.maps.Marker({
		    position: myLatlng,
		    title:"Where I currently reside."
		});
            
         marker.setMap(map);
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
</script>